* {
  box-sizing: border-box;
}

/* Parent */
.parent {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
/* Child */
.box {
    background: pink;
    height: 50px;
    width: 50px;
    margin: 5px;
    display: flex;
    justify-content: ;
    align-items: center;
}
