* {
  box-sizing: border-box;
}

body {
    height: 10000px;
}
.parent {
    background: pink;
    width: 400px;
    height: 400px;
    margin: 15px auto;
    position: relative;
}

.parent p {
    position: absolute;
    top: 0;
    left: 0;
}

.parent p span {
    position: fixed;
}